{% extends "master.html" %}
{% block content %}
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Droopy McCool Land</h1>
                <p>This is a skeleton blog site written in Python using Flask (and Will).</p>
            </div>
        </div>
        <div class="container">
          <table>
            <tr>
              <td>   
                {% for k, v in posts %}
                  <h3><a href="newposts/{{k}}/">{{ v['title']|title }}</a></h3>
                  <p>{{ v['post'][0]|safe }}</p>
                {% endfor %}
              </td>
              <td>
                 <img src="http://starwarshq.com/uploads/monthly_2015_07/Admiral-Ackbar-Its-A-Trap.jpg.9d3969f6562f31a3ead18f072a5498d3.jpg" alt="admiral_ackbar"> 
              </td>
            </tr>
          </table>
        </div>
{% endblock %}
