{% extends "master.html" %}
{% block content %}
<div class="container">
<div class="row">
<p>Problem Solving:</p>
<ul>
  <li>Define problem clearly</li>
  <li>Divide and conquer (Break up problem into smaller mini problems)</li>
  <li>Mini problems are easy to solve</li>
  <li>Keep the whole picture in mind</li>
  <li>Keep track of what you have done and what you need to do</li>
</ul>
</br>
<p>Being Lazy:</p>
<ul>
  <li>If it’s been made before don’t make it again</li>
  <li>Don’t be greedy (being too lazy now may be a problem in the future)</li>
  <li>Write no more than needs writing</li>
</ul>
</div>
</div>
{% endblock %}
